-i https://pypi.org/simple
alembic==1.16.1; python_version >= '3.9'
greenlet==3.2.2; python_version >= '3.9'
mako==1.3.10; python_version >= '3.8'
markupsafe==3.0.2; python_version >= '3.9'
prettytable==3.16.0; python_version >= '3.9'
sqlalchemy==2.0.41; python_version >= '3.7'
typing-extensions==4.13.2; python_version >= '3.8'
wcwidth==0.2.13
